<div class="container">
  <div class="card mx-auto mt-4 shadow-lg">
    <%= image_tag @post_image.get_image %>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-2">
          <%= image_tag @post_image.user.get_profile_image(100,100) %>
        </div>
        <div class="col-sm-12 col-md-10">
          <p class="card-title">
           <i class="fa-regular fa-flag"></i>
           <%= @post_image.shop_name %>
          </p>
          <p class="card-title">説明：<%= @post_image.caption %></p>
          <span><i class="fa-solid fa-user"></i><%= @post_image.user.name %> | </span>
          <span><%= @post_image.created_at.strftime('%Y/%m/%d') %> | </span>  
          <span><i class="fa-solid fa-comment"></i><%= @post_image.post_comments.count %> | </span>
          <div id="favorite_btn_<%= @post_image.id %>" ><%= render 'favorites/favorites', post_image: @post_image %></div>
          <% if @post_image.user == current_user %>
            <%= link_to "削除", post_image_path(@post_image), method: :delete %>
          <% end %>
        </div>
        <div id="comment_index", class="card-text">
          <%= render 'post_comments/index', post_image: @post_image %>
        </div>
        <div class="form-group mt-2">
          <p>コメントする</p>
          <%= render 'post_comments/form', post_image: @post_image, post_comment: @post_comment %>
        </div>
      </div>
    </div>
  </div>
</div>

